@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fc8c31;
  --highlight-blue: #0c6cfc;
  --background-light: #f6f5f2;
  --background-dark: #23180f;
  --buffest-dark: #1a140f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-highlight-blue: var(--highlight-blue);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-buffest-dark: var(--buffest-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Be Vietnam Pro", "Noto Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
